.footer {
  height: 200px;
  padding-top: 5%;
  background: #5e5e5e;
  color: #ddd;

  &__all-reserved {
    font-size: 12px;
    text-align: right;
    margin-top: 50px;
  }
}

.footer-element {
  width: 80%;
  margin-left: 10%;

  &__download {
    border-right: 3px solid #ddd;
    text-align: right;
    padding-top: 10px;
    font-size: 20px;

    a {
      color: white;
    }

    a:hover {
      text-decoration: none;
    }
  }

  &__other-page {
    text-align: center;

    a {
      color: #ddd;
    }
  }
}

@media screen and (min-width: 1500px) {
  .footer {
    height: 250px;
  }
}

@media screen and (min-width: 700px) and (max-width: 768px) {
  .footer-element {
    &__download {
      border-right: none;
      text-align: center;
    }

    &__other-page {
      padding-top: 10px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 699px) {
  .footer {
    height: 200px;

    &__all-reserved {
      font-size: 10px;
      margin-top: 20px;
    }
  }

  .footer-element {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

    &__download {
      border-right: none;
      text-align: center;
    }

    &__other-page {
      padding-top: 15px;
    }
  }
}
