<div class="about">
    <div class="about-me hide-element col-sm-12 col-xs-12">
        <div class="about-me__picture col-sm-6 col-xs-12">
            <h1 class="title">About me</h1>
            <img class="my-picture" ng-src="images/me.png">
            <div class="contact-details">
                <div class="phone">
                    <a href="tel:781880570">781 880 570 <i class="fa fa-phone"></i></a>
                </div>
                <div class="mail">
                    <a href="mailto:">katarzyna.jolanta.dusza(at)gmail.com <i class="fa fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <div class="about-me__description col-sm-6 col-xs-12">
            <p class="text">
                Hi! My name is Kasia and I was born on 17 December 1993. I'm a student of Computer Science at Silesian University of Technology,
                in February 2016 I received an engineer's degree.
                Since one year I've been working as a programmer.
            </p>
            <p class="text text--wait">
                Wait? A "woman-programmer"? No way! ;)
            </p>
            <p class="text">
                A lot of programmers are divided for front-end or back-end developer.. So who am I?
            </p>
            <p class="text">
                I'm really excited, when I develop some front-end stuff. I really like getting to know new technologies.
                But on the other hand when I need to do some back-end's part for my application, I'm not afraid - I like it also!
                For more information, please read the "Skills" or "Experience" bookmark.
            </p>
            <div class="text short-panel short-panel--work" onclick="goToExperience()">Experience</div>
            <div class="text short-panel short-panel--skills" onclick="goToSkills()">Skills</div>
        </div>
    </div>
</div>
