<div class="education">
    <div class="education__history col-md-12">
        <h1 class="title hide-element">Education</h1>
        <ul class="timeline">
            <li class="timeline__element hide-element">
                <div class="timeline-point">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="timeline-panel">
                    <h5 class="timeline-title">Silesian University of Technology in Gliwice</h5>
                    <p class="timeline-subtitle">Faculty of Automatic Control, Electronics and Computer Science</p>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2016 - now</small></p>
                    <div class="timeline-body">
                        <p>First-year Computer Science of full-time second-degree, specialization: Internet and Network's Technologies</p>
                    </div>
                </div>
            </li>
            <li class="timeline__element timeline__element-inverted hide-element">
                <div class="timeline-point"><i class="fa fa-graduation-cap"></i></div>
                <div class="timeline-panel">
                    <h5 class="timeline-title">Silesian University of Technology in Gliwice</h5>
                    <p class="timeline-subtitle">Faculty of Automatic Control, Electronics and Computer Science</p>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2012 - 2016</small></p>
                    <div class="timeline-body">
                        <p>Computer Science of full-time undergraduate degree, completed with an engineer's degree, specialization: Computer Graphics and Software</p>
                    </div>
                </div>
            </li>
            <li class="timeline__element hide-element">
                <div class="timeline-point"><i class="fa fa-graduation-cap"></i></div>
                <div class="timeline-panel">
                    <h5 class="timeline-title">II High School of C. K. Norwida in Tychy</h5>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2009 - 2012</small></p>
                    <div class="timeline-body">
                        <p>Mathematics and physics class</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>












