<div class="footer">
    <div class="footer-element col-md-12 col-sm-12 col-xs-12">
        <div class="footer-element__download col-md-3 col-sm-3 col-xs-12">
            <a href="pdfs/CV_Katarzyna_Dusza.pdf" download>Download as .PDF</a>
        </div>
        <div class="footer-element__other-page col-md-3 col-sm-3 col-xs-4">
            <a href="https://twitter.com/k_dusza"><i class="arrow fa fa-twitter fa-3x" aria-hidden="true"></i></a>
        </div>
        <div class="footer-element__other-page col-md-3 col-sm-3 col-xs-4">
            <a href="https://pl.linkedin.com/in/katarzyna-dusza-4635b5127"><i class="arrow fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
        </div>
        <div class="footer-element__other-page col-md-3 col-sm-3 col-xs-4">
            <a href="https://github.com/katarzyna-dusza"><i class="arrow fa fa-github fa-3x" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="footer__all-reserved col-md-12 col-sm-12 col-xs-12">
        <p>© 2016 Katarzyna Dusza. All rights reserved.</p>
    </div>
</div>