<div class="work">
    <div class="work__history col-md-12">
        <h1 class="title hide-element">Experience</h1>
        <ul class="timeline">
            <li class="timeline__element hide-element">
                <div class="timeline-point">
                    <i class="fa fa-briefcase"></i>
                </div>
                <div class="timeline-panel">
                    <h5 class="timeline-title">XSolve, Gliwice</h5>
                    <p class="timeline-subtitle">Junior Software Developer</p>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> October 2015 - now</small></p>
                    <div class="timeline-body">
                        <p>
                            As a Junior Software Developer I worked on a "presentation" app as well as other projects.
                            During that, I expanded my knowledge about AngularJS, Protractor, pure JavaScript and jQuery.
                            During my work at XSolve I learnt how to a write professional code and make a beautiful design.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline__element timeline__element-inverted hide-element">
                <div class="timeline-point">
                    <i class="fa fa-briefcase"></i>
                </div>
                <div class="timeline-panel">
                    <h5 class="timeline-title">XSolve, Gliwice</h5>
                    <p class="timeline-subtitle">Internship</p>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> July 2015 - September 2015</small></p>
                    <div class="timeline-body">
                        <p>
                            During my internship I worked as a frontend developer. We used Scrum to improve our development process.
                            We used AngularJS framework to make frontend application and Yii2 with PHP to make a backend webservice.
                            My team developed an application, which was similar to presentation like PowerPoint,
                            but the main difference was synchronization between presenter and client via Websockets.
                            In addition we used Protractor and Jasmine to make UI tests.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline__element hide-element">
                <div class="timeline-point"><i class="fa fa-briefcase"></i></div>
                <div class="timeline-panel">
                    <h5 class="timeline-title">Autea, Gliwice</h5>
                    <p class="timeline-subtitle">Internship</p>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> July 2014</small></p>
                    <div class="timeline-body">
                        <p>
                            During my internship I gained experience in web application development.
                            It was based on REST API. I used the Codeigniter framework and Git for revision control.
                            I also wrote in JavaScipt and HTML to create views and validation.
                            I expanded my knowledge about the Bootstrap.
                            The project was based on SCRUM methodology and Trello, which was used to control the product backlog and others.</p>
                    </div>
                    <div class="recommendation" ng-controller="MainCtrl">
                        <button class="btn btn-sm" ng-click="openModal()">Recommendation</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
